.tickets {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.tickets .selected a {
  background-color: #d6e6f7;
}

.tickets .selected a:hover {
  background-color: #bdd7f5;
}

.tickets li {
  position: relative;
  cursor: pointer;
}

.tickets li:hover {
  left: .1em;
}

.tickets a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  background-color: #eee;
  margin: .5rem .5rem .5rem 0;
  padding: .5rem 0;
  border-radius: 4px;
}

.tickets a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}


